<div class="col-6">
  <%= form_with model: @post, :url => admin_posts_path ,id: 'postsform' do |form| %>
      <div class="form-group">
        <label for="title">Post Title</label>
        <%=form.text_field :title ,id:'title', :class => "form-control" ,:placeholder => "Post Title"%>
      </div>

      <div class="form-group">
        <label for="category">Select Post Category</label>
        <h6>can select multiple categories</h6>
        <%= form.select(:category, @category.collect {|r| [ r.name.to_s, r.id ] },{include_hidden: false} ,{:multiple => true, :class => "form-control", :style => "width:250px;height:90px;" }) %>
      </div>
      <div class="form-group">
        <label for="content">Post Content</label>
        <%= form.text_area(:content, id: 'content',:class => "form-control", :placeholder => "Post content",:rows => "3")%>
      </div>
      <%= form.submit id:'postsubmit',:class => "btn btn-primary" %>
  <%end%>
</div>