<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Project One</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Home",root_path ,:class => 'nav-item nav-link active' %>
      <% if user_signed_in? && current_user.admin? %>
          <%= link_to "Admin",admin_path,{:class => 'nav-link '} %>
      <% end %>

    </div>

  </div>
  <ul class="nav justify-content-end">
    <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Settings",edit_user_registration_path,{:class => 'nav-link '} %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out",destroy_user_session_path ,method: :delete,:class => 'nav-link ' %>
        </li>
    <%else%>
        <li class="nav-item">
          <%= link_to "Sign In",new_user_session_path,{:class => 'nav-link '} %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up',new_user_registration_path,{:class => 'nav-link signup'} %>
        </li>
    <%end%>
  </ul>
</nav>